<%= form_with(model: saved_verse, local: true) do |f| %>
  <div class="mb-3">
    <%= f.label :book, "Libro", class: "form-label", style: "color: var(--color-text);" %>
    <%= f.text_field :book, class: "form-control", required: true, style: "background-color: var(--card-bg); color: var(--card-text);" %>
  </div>

  <div class="mb-3">
    <%= f.label :chapter, "Capítulo", class: "form-label", style: "color: var(--color-text);" %>
    <%= f.number_field :chapter, class: "form-control", required: true, style: "background-color: var(--card-bg); color: var(--card-text);" %>
  </div>

  <div class="mb-3">
    <%= f.label :verse, "Versículo", class: "form-label", style: "color: var(--color-text);" %>
    <%= f.number_field :verse, class: "form-control", required: true, style: "background-color: var(--card-bg); color: var(--card-text);" %>
  </div>

  <div class="mb-3">
    <%= f.label :note, "Nota", class: "form-label", style: "color: var(--color-text);" %>
    <%= f.text_area :note, rows: 5, class: "form-control", style: "background-color: var(--card-bg); color: var(--card-text);" %>
  </div>

  <%= f.submit saved_verse.persisted? ? "Actualizar" : "Guardar", class: "btn btn-primary" %>
<% end %>
